@property --tw-border-style {
    syntax: "*";
    inherits: false;
    initial-value: solid;
}

@property --tw-font-weight {
    syntax: "*";
    inherits: false;
}

@property --tw-font-weight {
    syntax: "*";
    inherits: false;
}

#root
{
  background-color: white;
}

.container
{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper
{
  width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: calc(1.25 / 0.875);
  display: flex;
  padding: 0;
}

.heading_container
{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #162456;
}

.heading_container > div
{
  padding-inline: 1.5rem = 24px;
  padding-block: 0.75rem;
  --tw-font-weight: 500;
  font-weight:500;
}

.task_section
{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.task_section > div, .heading_container > div
{
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  --tw-font-weight: 500;
  font-weight:500;
}

.task_add
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #0059ff;
}
.comp_container
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0059ff;
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
  justify-content: space-between;
}

.comp_container > input, .task_add > input
{
  
  white-space: nowrap;
  --tw-font-weight: 500;
  font-weight: 500;
  padding-inline: 1.5rem;
  background: none;
  padding-block: 10px;
  
}

.comp_container > input
{
  color: #99a1af;
}

.comp_buttons
{
  display: flex;
  flex-direction: row;
  padding-inline: 48px;
  padding-block: 16px;
  column-gap: 32px;
  align-items: flex-end;
  justify-content: end;
}

.comp_buttons > div
{
  cursor: pointer;
  gap: 32px;
  background: rgba(255, 111, 0, 0.845);
  padding-block: 5px;
  padding-inline: 10px;
}